

/* Importing fonts */
/* Lacuna ( Regular ) */
@font-face {
    font-family: 'lacuna_regularregular';
    src: url('../fontface/Lacuna-Regular-fontfacekit/webfonts/lacuna_regular_macroman/flacuna-webfont.eot');
    src: url('../fontface/Lacuna-Regular-fontfacekit/webfonts/lacuna_regular_macroman/lacuna-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/Lacuna-Regular-fontfacekit/webfonts/lacuna_regular_macroman/lacuna-webfont.woff2') format('woff2'),
         url('../fontface/Lacuna-Regular-fontfacekit/webfonts/lacuna_regular_macroman/lacuna-webfont.woff') format('woff'),
         url('../fontface/Lacuna-Regular-fontfacekit/webfonts/lacuna_regular_macroman/lacuna-webfont.ttf') format('truetype'),
         url('../fontface/Lacuna-Regular-fontfacekit/webfonts/lacuna_regular_macroman/lacuna-webfont.svg#lacuna_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* League gothic ( Regular ) */
@font-face {
    font-family: 'League_Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* classes */
.navbar{
    background-color: #2d2b2b;
}

.navbar-brand{
    height : 6.62rem;
    width: 7.62rem;
    padding-top:unset!important
}

.logo{
    padding: 1rem 1.25rem;
}

.nav-link{
    font-family: 'League_Gothic';
}

.section2{
    height: 23.12rem;
    background-color: #3a0a1d;
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
}
/*paragraphe de la 2eme section*/
.section2 > p{
    margin-top: 1.8rem!important;
}

.footer{
    height: 10.78rem;
    background-color: #e4bc01;
    padding-top: 2.662rem;
    padding-bottom: 1.798rem;
}

.footer > span{
    color: #31332e;
    font-family: 'League_Gothic';
    font-size: 1.8125rem;
}

/*text ( body ) */
.Body_text {
    font-size: 1.19rem;
    font-family: 'lacuna_regularregular';
    line-height: 1.556;
    text-align: left;
  }
  .section3-button{
      float: right;
      background-color:   #f0bd01;
      border: none;
      width: 5.3rem;
      height: 1.75rem;

  }
  
  .section3 {
      background-color:#fafafa;
  }

  .footertext{
    font-family: 'League_Gothic';
  }

  .spacing
  {
      margin-bottom: 4rem;
  }

/*icones*/
.bi-circle-fill{
    color:#968d6d
}

.social{
    padding-top: 0.2rem;
    padding-left: 0.1rem;
    background-color: white;
    height:  1.875rem;
    width:  1.875rem;
    border-radius: 50%;

}
.bi-quote
{
    height:2.125;
    width: 3.125rem;
    font-size: 3.125rem;
    color: #616161;
}